* {
  box-sizing: border-box;
}

.img {
  width: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Heebo', sans-serif;
}

header {
  background-color: white;
  height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav {
  margin: 10px;
  width: 100%;
  height: 40px;
}

.col-left {
  width: 2%;
  display: block;
  font-size: 8px;
  text-align: right;
}

.col-middle {
  width: 40%;
  display: block;
  float: left;
}

.col-right {
  width: 20%;
  padding-top: 10px;
  display: block;
  float: right;
}

li a:hover {
  color: black;
}

li a {
  color: #b1b1b1;
  text-decoration: none;
  margin: 8px;
  float: left;
}

ul {
  list-style-type: none;
  position: fixed;
  top: 0;
  width: 100%;
}

a:visited {
  color: #b1b1b1;
}

.piccontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  margin-top: 50px;
  height: 300px;
  background: url(background.jpg);
}

.pictext {
  flex-wrap: nowrap;
  height: 200px;
}

.picturetext {
  flex-wrap: nowrap;
  justify-content: center;
  text-align: center;
}

h2 {
  width: 100%;
  color: white;
  font-size: 40px;
  text-shadow: black 1px 1px;
}

.large {
  font-size: 70px;
}

.pricebox {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex: 1;
  align-items: center;
  width: 100%;
  height: 500px;
  margin-top: 40px;
}

.box1 {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  margin-left: 15px;
}

.box1a {
  display: flex;
  flex-wrap: nowrap;
  flex: 1;
  width: 250px;
  background-color: #16a14d;
}

.box1b {
  flex-wrap: nowrap;
  align-items: center;
  flex: 1;
  width: 250px;
  float: left;
  color: white;
  text-align: center;
  padding: 25px;
  line-height: 1.2;
}

.box1c {
  flex-wrap: nowrap;
  flex: 1;
  width: 250px;
  float: left;
  color: black;
  text-align: center;
  line-height: 3;
}

.box1d {
  flex-wrap: nowrap;
  flex: 1;
  width: 250px;
  color: black;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  width: 100px;
}

.box2 {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  margin-left: 15px;
}

.box2a {
  display: flex;
  flex-wrap: nowrap;
  flex: 1;
  width: 250px;
  background-color: #1766b0;
}

.box2b {
  flex-wrap: nowrap;
  align-items: center;
  flex: 1;
  width: 250px;
  float: left;
  color: white;
  text-align: center;
  padding: 25px;
  line-height: 1.2;
}

.box2c {
  flex-wrap: nowrap;
  flex: 1;
  width: 250px;
  float: left;
  color: black;
  text-align: center;
  line-height: 3;
}

.box2d {
  flex-wrap: nowrap;
  flex: 1;
  width: 250px;
  color: black;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  width: 100px;
}

.box3 {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  margin-left: 15px;
}

.box3a {
  display: flex;
  flex-wrap: nowrap;
  flex: 1;
  width: 250px;
  background-color: black;
}

.box3b {
  flex-wrap: nowrap;
  align-items: center;
  flex: 1;
  width: 250px;
  float: left;
  color: white;
  text-align: center;
  padding: 25px;
  line-height: 1.2;
}

.box3c {
  flex-wrap: nowrap;
  flex: 1;
  width: 250px;
  float: left;
  color: black;
  text-align: center;
  line-height: 3;
}

.box3d {
  flex-wrap: nowrap;
  flex: 1;
  width: 250px;
  color: black;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  width: 100px;
}

.belowpricing {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 15px;
  width: 100%;
  height: 400px;
}

.bp1 {
  display: flex;
  justify-content: center;
  width: 350px;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  margin-left: 15px;
  margin-right: 15px;
}

.bp2 {
  display: flex;
  justify-content: center;
  width: 350px;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  margin-left: 15px;
  margin-right: 15px;
}

.column1a {
  display: flex;
  flex-wrap: nowrap;
  flex: 1;
  width: 350px;
  text-align: left;
  margin-bottom: 10px;
}

.column1b {
  display: flex;
  flex-wrap: nowrap;
  flex: 1;
  width: 350px;
  text-align: left;
  margin-bottom: 10px;
  margin-bottom: 40px;
}

.column1c {
  display: flex;
  flex-wrap: nowrap;
  flex: 1;
  width: 350px;
  text-align: left;
  margin-bottom: 10px;
}

.column1d {
  display: flex;
  flex-wrap: nowrap;
  flex: 1;
  width: 350px;
  text-align: left;
  margin-bottom: 10px;
}

.column2a {
  display: flex;
  flex-wrap: nowrap;
  flex: 1;
  width: 350px;
  text-align: left;
  margin-bottom: 10px;
}

.column2b {
  display: flex;
  flex-wrap: nowrap;
  flex: 1;
  width: 350px;
  text-align: left;
  margin-bottom: 10px;
  margin-bottom: 40px;
}

.column2c {
  display: flex;
  flex-wrap: nowrap;
  flex: 1;
  width: 350px;
  text-align: left;
  margin-bottom: 10px;
}

.column2d {
  display: flex;
  flex-wrap: nowrap;
  flex: 1;
  width: 350px;
  text-align: left;
  margin-bottom: 10px;
}

.getstarted {
  flex-wrap: wrap;
  flex: 1;
  width: 350px;
  float: left;
  color: black;
}

.paymonthly {
  flex-wrap: wrap;
  flex: 1;
  width: 350px;
  float: left;
  color: black;
}

.text1 {
  flex-wrap: wrap;
  flex: 1;
  width: 350px;
  float: left;
  color: black;
  font-size: 12px;
  font-size: 12px;
}

.text2 {
  flex-wrap: wrap;
  flex: 1;
  width: 350px;
  float: left;
  color: black;
  font-size: 12px;
  font-size: 12px;
}

.custsupport {
  flex-wrap: wrap;
  flex: 1;
  width: 350px;
  float: left;
  color: black;
}

.cancel {
  flex-wrap: wrap;
  flex: 1;
  width: 350px;
  float: left;
  color: black;
}

.text3 {
  flex-wrap: wrap;
  flex: 1;
  width: 350px;
  float: left;
  color: black;
  font-size: 12px;
  font-size: 12px;
}

.text4 {
  flex-wrap: wrap;
  flex: 1;
  width: 350px;
  float: left;
  color: black;
  font-size: 12px;
  font-size: 12px;
}

footer {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 45px;
  background-color: black;
}

.footer1 {
  justify-content: flex-end;
  text-align: right;
  color: white;
  font-size: 12px;
  margin-right: 5px;
}

.footer2 {
  justify-content: center;
  justify-content: space-between;
  color: white;
  font-size: 12px;
}

.footer3 {
  justify-content: flex-start;
  text-align: left;
  color: white;
  font-size: 12px;
  margin-left: 5px;
}
