$headerbackground: rgb(255, 255, 255);
$bodytext: rgb(0, 0, 0);
$blackbackground: rgb(0, 0, 0);
$textoverpic: rgb(255, 255, 255);
$graytext: rgb(177, 177, 177);
$pricebox1: rgb(22, 161, 77);
$pricebox2: rgb(23, 102, 176);
$pricebox3: rgb(0, 0, 0);
$priceboxtext: rgb(255, 255, 255);
$priceboxwidth: 250px;
$belowpricingboxwidth: 350px;
$footerbackground: rgb(0, 0, 0);
$footertext:rgb(255, 255, 255);


* {
  box-sizing: border-box;
}
.img {
  width: 100%;
}
body {
  padding:0;
  margin: 0;
  font-family: 'Heebo', sans-serif;
}
header {
  background-color: $headerbackground;
  height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
}
.nav {
  margin: 10px;
  width: 100%;
  height: 40px;
}
.col-left {
  width: 2%;
  display:block;
  font-size: 8px;
  text-align: right;
}
.col-middle {
  width: 40%;
  display:block;
  float: left;
}
.col-right {
  width: 20%;
  padding-top: 10px;
  display:block;
  float: right;
}
li a:hover {
    color: $bodytext;
}
li a {
    color: $graytext;
    text-decoration: none;
    margin: 8px;
    float: left;
}
ul {
    list-style-type: none;
    position: fixed;
    top: 0;
    width: 100%;
  }
a:visited {
    color: $graytext;
  }
.piccontainer {
  display: flex;
  justify-content:center;
  align-items:center;
  min-width: 100%;
  margin-top:50px;
  height: 300px;
  background: url(background.jpg);
}
.pictext {
  flex-wrap: nowrap;
  height:200px;
}
.picturetext {
  flex-wrap: nowrap;
  justify-content: center;
  text-align: center;
}

h2 {
   width: 100%;
   color: $textoverpic;
   font-size: 40px;
   text-shadow: $blackbackground 1px 1px;
}
.large {
  font-size: 70px;
}

.pricebox {
  display:flex;
  justify-content: center;
  flex-direction: row;
  flex:1;
  align-items: center;
  width: 100%;
  height: 500px;
  margin-top: 40px;
}
  .box1 {
    display:flex;
    justify-content: center;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    margin-left: 15px;
    width: 250px;
    text-decoration: none;
  }
    .box1a {
      display: flex;
      flex-wrap: nowrap;
      flex:1;
      width: $priceboxwidth;
      background-color: $pricebox1;
    }
    .box1b {
      flex-wrap: nowrap;
      align-items: center;
      flex:1;
      width: $priceboxwidth;
      float: left;
      color: $priceboxtext;
      text-align: center;
      padding: 25px;
      line-height: 1.2;
    }
    .box1c {
      flex-wrap: nowrap;
      flex:1;
      width: $priceboxwidth;
      float: left;
      color: $bodytext;
      text-align: center;
      line-height: 3;
    }
    .box1d {
      flex-wrap: nowrap;
      flex:1;
      width: $priceboxwidth;
      color: $bodytext;
      text-decoration: none;
      text-align: center;
    }
    .box2 {
      display:flex;
      justify-content: center;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
      flex-wrap: nowrap;
      margin-left: 15px;
      width: $priceboxwidth;
    }
    .box2a {
      display: flex;
      flex-wrap: nowrap;
      flex:1;
      width: $priceboxwidth;
      background-color: $pricebox2;
    }
    .box2b {
      flex-wrap: nowrap;
      align-items: center;
      flex:1;
      width: $priceboxwidth;
      float: left;
      color: $priceboxtext;
      text-align: center;
      padding: 25px;
      line-height: 1.2;
    }
    .box2c {
      flex-wrap: nowrap;
      flex:1;
      width: $priceboxwidth;
      float: left;
      color: $bodytext;
      text-align: center;
      line-height: 3;
    }
    .box2d {
      flex-wrap: nowrap;
      flex:1;
      width: $priceboxwidth;
      color: $bodytext;
      text-decoration: none;
      text-align: center;
    }
    .box3 {
      display:flex;
      justify-content: center;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
      flex-wrap: nowrap;
      margin-left: 15px;
      width: $priceboxwidth;
    }
      .box3a {
        display: flex;
        flex-wrap: nowrap;
        flex:1;
        width: $priceboxwidth;
        background-color: $pricebox3;
      }
      .box3b {
        flex-wrap: nowrap;
        align-items: center;
        flex:1;
        width: $priceboxwidth;
        float: left;
        color: $priceboxtext;
        text-align: center;
        padding: 25px;
        line-height: 1.2;
      }
      .box3c {
        flex-wrap: nowrap;
        flex:1;
        width: $priceboxwidth;
        float: left;
        color: $bodytext;
        text-align: center;
        line-height: 3;
      }
      .box3d {
        flex-wrap: nowrap;
        flex:1;
        width: $priceboxwidth;
        color: $bodytext;
        text-decoration: none;
        text-align: center;
      }
  .belowpricing {
    display:flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 15px;
    width: 100%;
    height: 400px;
  }
  .bp1 {
    display:flex;
    justify-content: center;
    width: $belowpricingboxwidth;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    margin-left: 15px;
    margin-right: 15px;
  }
  .bp2 {
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    margin-right: 15px;
    margin-left: 15px;
    width: $belowpricingboxwidth;
  }
  .column1a {
    display: flex;
    flex-wrap: nowrap;
    flex:1;
    width: $belowpricingboxwidth;
    text-align: left;
    margin-bottom: 10px;
  }
  .column1b {
    display: flex;
    flex-wrap: nowrap;
    flex:1;
    width: $belowpricingboxwidth;
    text-align: left;
    margin-bottom: 10px;
  }
  .column1c {
    display: flex;
    flex-wrap: nowrap;
    flex:1;
    width: $belowpricingboxwidth;
    text-align: left;
    margin-bottom: 10px;
  }
  .column1d {
    display: flex;
    flex-wrap: nowrap;
    flex:1;
    width: $belowpricingboxwidth;
    text-align: left;
    margin-bottom: 10px;
  }
  .column2a {
    display: flex;
    flex-wrap: nowrap;
    flex:1;
    width: $belowpricingboxwidth;
    text-align: left;
    margin-bottom: 10px;
  }
  .column2b {
    display: flex;
    flex-wrap: nowrap;
    flex:1;
    width: $belowpricingboxwidth;
    text-align: left;
    margin-bottom: 10px;
  }
  .column2c {
    display: flex;
    flex-wrap: nowrap;
    flex:1;
    width: $belowpricingboxwidth;
    text-align: left;
    margin-bottom: 10px;
  }
  .column2d {
    display: flex;
    flex-wrap: nowrap;
    flex:1;
    width: $belowpricingboxwidth;
    text-align: left;
    margin-bottom: 10px;
  }
  .getstarted {
    flex-wrap: wrap;
    width: $belowpricingboxwidth;
    float: left;
    color: $bodytext;
  }
  .paymonthly {
    flex-wrap: wrap;
    width: $belowpricingboxwidth;
    float: left;
    color: $bodytext;
  }
  .text1 {
    flex-wrap: wrap;
    width: $belowpricingboxwidth;
    float: left;
    color: $bodytext;
    font-size: 12px;
  }
  .text2 {
    flex-wrap: wrap;
    width: $belowpricingboxwidth;
    float: left;
    color: $bodytext;
    font-size: 12px;
  }
  .custsupport {
    flex-wrap: wrap;
    width: $belowpricingboxwidth;
    float: left;
    color: $bodytext;
  }
  .cancel {
    flex-wrap: wrap;
    width: $belowpricingboxwidth;
    float: left;
    color: $bodytext;
  }
  .text3 {
    flex-wrap: wrap;
    width: $belowpricingboxwidth;
    float: left;
    color: $bodytext;
    font-size: 12px;
  }
  .text4 {
    flex-wrap: wrap;
    width: $belowpricingboxwidth;
    float: left;
    color: $bodytext;
    font-size: 12px;
  }

  footer {
    display:flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex:1;
    width:100%;
    height: 45px;
    background-color: $footerbackground;
  }
  .footer1 {
    display: flex;
    justify-content: flex-end;
    flex:auto;
    text-align: right;
    flex-wrap: nowrap;
    color: $footertext;
    font-size: 12px;
  }
  .footer2 {
    display: flex;
    justify-content: center;
    width: 340px;
    flex-wrap: nowrap;
    color: $footertext;
    font-size: 12px;
  }
  .footer3 {
    display: flex;
    justify-content: flex-start;
    flex: auto;
    text-align: left;
    flex-wrap: nowrap;
    color: $footertext;
    font-size: 12px;
  }
